@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="@Url.Content("http://www.mtheadbrewingco.com/p7pm/p7pmh19.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("http://www.mtheadbrewingco.com/styles/styles.css")" rel="stylesheet" type="text/css" />

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>M.T. Head Brewing Co., Bonehead Brown Ale, No Brainer Ale, Punter's Special Ale</title>
    <meta name="description" content="Tim and Renee Rockey opened the doors of M.T. Head Brewing Company July 1st of 2009. We are a small, artisanal style brewery producing less than 200 barrels per year. Only the finest malts and freshest hops are used in these fine beers.">
    <meta name="keywords" content="M.T. Head Brewing Co., Bonehead Brown Ale, No Brainer Ale, Punter's Special Ale, beer, brewery, brewing, beers, Golden Ale, Twisted Head IPA, Dark Marc">
    <script type="text/javascript" src="styles/p7_eqCols2_10.js"></script>
    <script type="text/javascript" src="p7pm/p7popmenu.js"></script>
    <style type="text/css" media="screen">

    </style>
    <!--[if lte IE 6]>
    <style>
    #centerwrapper {
    width:expression(parseInt(this.currentStyle.marginLeft)+parseInt(this.currentStyle.marginRight)-document.body.clientWidth>=-540?"540px":"auto");}
    div {height: 1%;}
    #p7PMnav a {height: auto !important;}
    #p7PMnav ul a {height: 1em !important;}
    </style>
    <![endif]-->
    <link href="styles/basicprint.css" rel="stylesheet" type="text/css" media="print">
</head>
<body onLoad="P7_initPM(1,19,1,0,10);P7_equalCols2(1,'sidebox','P','centerwrapper','P')">
    <div id="sidebox">
        <div id="sidebar">

            <div id="sidetop"></div>
            <div id="sidecontent">
                <h4 align="center"><!-- Facebook Badge START --><a href="https://www.facebook.com/MTHeadBrewing" title="M.T. Head Brewing Co." target="_blank"><img src="http://badge.facebook.com/badge/118508988188087.999.1405487776.png" width="120" height="153" style="border: 0px;" /></a><!-- Facebook Badge END --></h4>
                <p align="center"><a href="https://www.facebook.com/MTHeadBrewing" target="_blank">Follow us on Facebook</a></p>
                <p align="center">&nbsp;</p>
                <h4 align="center">M.T. Head Brewing Co.</h4>
                <p align="center">
                    27307 - 159th Ave E<br>
                    Graham, WA 98338
                </p>
                <h4 align="center">Phone</h4>
                <p align="center">253-208-8999</p>
                <h4 align="center">Hours</h4>
                <p align="center">
                    Fri-Sat 3pm-7pm<br>
                    We except cash only at taproom. 21 and older only no children allowed.<br>
                    <a href="https://www.facebook.com/MTHeadBrewing" target="_blank">Please check our Facebook page for closures</a>
                </p>
            </div>

        </div>
    </div>

    <div id="centerwrapper">

        <div id="masthead">
            <div id="logodiv"><img src="images/M-T-Head-Brewing.jpg" alt="M.T. Head Brewing Co. Graham, WA " width="289" height="320"></div>
        </div>

        <div id="centerbox">

            <div id="navwrapper">
                <div id="navbar">
                    <ul id="p7PMnav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/content/beers/beers.php">Beers</a></li>
                        <li><a href="/content/where-you-buy/where-you-buy.php">Where you can Buy</a></li>
                        <li><a href="/content/contact-directions/contact-directions.php">Contact / Directions</a></li>
                        <!--[if lte IE 6]><style>#p7PMnav a{height:1em;}#p7PMnav li{height:1em;}#p7PMnav ul li{float:left;clear:both;width:100%}</style><![endif]-->
                        <!--[if IE 6]><style>#p7PMnav ul li{clear:none;}</style><![endif]-->
                        <!--[if IE 7]><style>#p7PMnav a{zoom:100%;}#p7PMnav ul li{float:left;clear:both;width:100%;}</style><![endif]-->
                    </ul>
                    <br class="clearit">
                </div>
            </div>

            <div id="centercontent">
                <h1 class="topmainHeader">Beer it is what we do</h1>
                <p> Tim and Renee Rockey opened the doors of  M.T. Head Brewing Company July 1st of 2009. We are a small, artisanal style brewery producing less than 200 barrels per year. The beers are very limited in distribution and much of the production is sold exclusively at the brewery. Some of our beers may be found at local, south sound, tap houses.  	</p>
                <p>All beers are currently being produced on a 7 Barrel system, with special attention to quality control. Only the finest malts and freshest hops are used in these fine beers. 	</p>
                <p>The brewery is located on a small acreage about 20 miles southeast of Tacoma, Washington with a beautiful, unobstructed view of Mt. Rainer. Stop by and visit the brewery and tasting room on  Friday or Saturday from 3:00 pm to 7:00 pm.                                                     </p>
                <p align="right"><em><strong>Tim Rockey,</strong></em><strong> Owner/Brewer</strong></p>
                <p align="right">
                    <br>
                </p>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><p align="center"><a href="content/beers/beers.php#goldenale"><img src="/content/common/images/MT-Head-Golden-Ale.jpg" alt="M-T Head Golden Ale" width="272" height="296" border="0"></a></p></td>
                        <td><p align="center"><a href="/content/beers/beers.php#nobrainerale"><img src="/content/common/images/no-brainer-ale.jpg" alt="No Brainer Ale - Fill The Void" width="272" height="296" border="0"></a></p></td>
                        <td valign="top"><p align="center"><a href="/content/beers/beers.php#twistedhead"><img src="/content/common/images/Twisted-Head-IPA.jpg" alt="Twisted Head IPA " width="272" height="296" border="0"></a></p></td>
                    </tr>
                    <tr>
                        <td>
                            <p align="center">
                                <a href="content/beers/beers.php#goldenale">
                                    <strong>Golden Ale</strong> <br>
                                    Click here for more info
                                </a>
                            </p>
                        </td>
                        <td>
                            <p align="center">
                                <a href="/content/beers/beers.php#nobrainerale">
                                    <strong>
                                        No Brainer Ale<br>
                                    </strong>Click here for more info
                                </a>
                            </p>
                        </td>
                        <td valign="top">
                            <p align="center">
                                <a href="/content/beers/beers.php#twistedhead">
                                    <strong>
                                        Twisted Head IPA<br>
                                    </strong>Click here for more info
                                </a>
                            </p>
                        </td>
                    </tr>
                </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td valign="top">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td valign="top">&nbsp;</td>
                    </tr>
                    <tr>
                        <td><p align="center"><a href="content/beers/beers.php#boneheadale"><img src="/content/common/images/bonehead-brown-ale.jpg" alt="Bonehead Brown Ale - Fill The Void" width="272" height="296" border="0"></a></p></td>
                        <td><p align="center"><a href="/content/beers/beers.php#darkmarc"><img src="/content/common/images/MT-Head-Dark-Marc.jpg" alt="Dark Marc M-T HEAD, INC" width="272" height="296" border="0"></a></p></td>
                        <td valign="top"><p align="center"><a href="/content/beers/beers.php#puntersspecialale"><img src="/content/common/images/punters-special-ale.jpg" alt="Punter's Special Ale - Fill The Void " width="272" height="296" border="0"></a></p></td>
                    </tr>
                    <tr>
                        <td>
                            <p align="center">
                                <a href="content/beers/beers.php#boneheadale">
                                    <strong>Bonehead Brown Ale</strong>
                                    <br>
                                    Click here for more info
                                </a>
                            </p>
                        </td>
                        <td>
                            <p align="center">
                                <a href="/content/beers/beers.php#darkmarc">
                                    <strong>
                                        Dark Marc<br>
                                    </strong>Click here for more info
                                </a>
                            </p>
                        </td>
                        <td valign="top">
                            <p align="center">
                                <a href="/content/beers/beers.php#puntersspecialale">
                                    <strong>
                                        Punter's Special Ale<br>
                                    </strong>Click here for more info
                                </a>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="centerbottom">
                <div id="centerbottominfo"><img src="images/jazz_bottomleft.jpg" alt="" width="300" height="32"></div>
            </div>

        </div>

    </div>

    <div id="footer">
        <p>&copy; 2018 M.T Head Inc. All rights reserved.</p>
        <p>
            <script type="text/javascript">
/*<![CDATA[*/

/***********************************************
* Encrypt Email script- Please keep notice intact
* Tool URL: http://www.dynamicdrive.com/emailriddler/
* **********************************************/
<!-- Encrypted version of: info [at] ***************.*** //-->

var emailriddlerarray=[105,110,102,111,64,109,116,104,101,97,100,98,114,101,119,105,110,103,99,111,46,99,111,109]
var encryptedemail_id16='' //variable to contain encrypted email
for (var i=0; i<emailriddlerarray.length; i++)
 encryptedemail_id16+=String.fromCharCode(emailriddlerarray[i])

document.write('<a href="mailto:'+encryptedemail_id16+'">'+encryptedemail_id16+'<\/a>')

/*]]>*/
            </script> | 253-208-8999
        </p>
        <p>
            <a href="/content/terms-privacy/terms-privacy.php">Privacy / Terms of Use</a>
            <div id="tagline">
        <p align="center"><a href="http://www.moff.com" target="_blank">Web site by Moff Interactive Inc.</a></p>
    </div>
    </div>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16515824-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>
